$primaryColor: #eeffcc;
$lightGray: #999999;
$grayforInfoMsgs:#ababab;
$black: #000;
$value100Px:100px;
$value0Px:0;
$value100Pc:100%;
$midlightGray : #e3e3e3;
$stornglightGray : #9c9c9c;
$green : #a5cd55;
$greenFont : #47a675;
$borderRed : #dd2323;
$headerTextColor : #ffffff;
$disabledColor : #dadada;
$formInputColor: #e3e3e3;
$darkblue : #0061a0;
$primaryColorBlue :#127cba;
$primaryColorBlueText:#0e629e;
$headerBg : #0e629e;
$darkBlack :#333333;
$ligitGrayShade2:#666666;
$grayColorFooterText:#7f7f7f;
$grayColorFooterbg: #F2F2F2;
$purpleColor:#5e2c9c;
$lightGrayShade3:#75787a;

